@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

//colors
$white: #ffffff;
$black: #080808;
$main-color: #8ad7e1;
$grey: #292929;
$coffee: #a0907e;

//font-sizes
$title: 96px;
$mobile-title: 72px;
$logo: 64px;
$subtitle: 48px;
$mobile-subtitle: 36px;
$nav-logo: 24px;
$nav: 18px;
$btn: 16px;
$footer: 14px;
$burger: 12px;

//fonts
$title-font: "Oswald", sans-serif;
$main-font: "Roboto", sans-serif;
